<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>MediTech</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/templatemo-medic-care.css" rel="stylesheet" />
</head>

<body id="top">

    <main>
        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">
                <a class="navbar-brand mx-auto d-lg-none" href="index.html">
                    MedicTech
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Doctor" asp-action="Index">Doctors</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AllPatients" asp-action="Index">Patients</a>
                        </li>

                        <a class="navbar-brand d-none d-lg-block" asp-controller="Home" asp-action="Index">
                            MediTech
                          <strong class="d-block">HealthCare</strong>

                        </a>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Bookings" asp-action="Index">Bookings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AllAppointments" asp-action="Index">Appointments</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Role" asp-action="Index">Roles</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </main>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>


<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/scrollspy.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)

