@using MediTech.Dtos
@model LoginDto
@{
   Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediTech-Panel</title>
    <script src="~/js/app.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form asp-action="Login" class="sign-in-form" method="post">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" asp-for="Email" placeholder="EmailAddress" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <button type="submit" value="Login" class="btn solid">Login</button>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <img src="./img/log.svg" class="image" alt="">
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>


